#**Python Tips and Tricks**

#The Input() Statement

In [ ]:
number = input('Enter a number')
print('You entered: ',number)

Enter a number1000000
You entered:  1000000

Accept multiple inputs:

In [ ]:
num1,num2,num3 = input('Enter 3 numbers separated with space').split(' ')
print('You entered: ',num1,num2,num3)

Enter 3 numbers separated with space2 6 8
You entered:  2 6 8

#Multiple Conditional Statements

In [ ]:
a = 3000
b = 2000
c = 500

if a > b and b > c and c > 100:
  print('We are good to go !!')
else:
  print('hmmmmm something went wrong please check the condition again')

We are good to go !!

What if we have too many conditions to check?

In [ ]:
a = 3000
b = 2000
c = 500

conditions=[a > b,b > c,c > 100]

if all(conditions) :
  print('We are good to go !!')
else:
  print('hmmmmm something went wrong please check the condition again')

We are good to go !!

# Swapping Numbers

In [ ]:
a = 10
b = 20

temp = a
a = b
b = temp
print('Value of a : ',a,'\nValue of b: ',b)

Value of a :  20
Value of b:  10

In [ ]:
a = 10
b = 20

a,b = b,a
print('Value of a : ',a,'\nValue of b: ',b)

Value of a :  20
Value of b:  10

#Selecting unique items from a list

In [ ]:
a = [1,2,3,5,6,7,8,3,1,1,5,6,10]
print('Before: ',a)
new_a=list(set(a))
print('After: ',new_a)

Before:  [1, 2, 3, 5, 6, 7, 8, 3, 1, 1, 5, 6, 10]
After:  [1, 2, 3, 5, 6, 7, 8, 10]

We can also get the item that repeated most in the list

In [ ]:
names = ['Bright','Simran','Chris','Sanjay','Chris','Bright','Bright']

print('Before: ',names)
new_names=list(set(names))
print('After: ',new_names)

Before:  ['Bright', 'Simran', 'Chris', 'Sanjay', 'Chris', 'Bright', 'Bright']
After:  ['Simran', 'Chris', 'Sanjay', 'Bright']

In [ ]:
names = ['Bright','Simran','Chris','Sanjay','Chris','Bright','Bright']

print('Before: ',names)
new_names=max(set(names),key = names.count)
print('The name that appears the most is: ',new_names)

Before:  ['Bright', 'Simran', 'Chris', 'Sanjay', 'Chris', 'Bright', 'Bright']
The name that appears the most is:  Bright

#Working with Large and hard to read numbers

In [ ]:
a = 234_378_688_088
b = 7_878_192_891

c = a + b
print(f'{c:,}')

242,256,880,979

#Keeping counts of items

In [ ]:
names = ['Bright','Simran','Chris','Sanjay','Chris','Bright','Bright']

for i in names:
  print(i)

Bright
Simran
Chris
Sanjay
Chris
Bright
Bright

**Approach 1: the common way**

In [ ]:
names = ['Bright','Simran','Chris','Sanjay','Chris','Bright','Bright']


index = 0
for name in names:
  print(index,name)
  index +=1

0 Bright
1 Simran
2 Chris
3 Sanjay
4 Chris
5 Bright
6 Bright

**Approach 2: Using Enumerate**

In [ ]:
names = ['Bright','Simran','Chris','Sanjay','Chris','Bright','Bright']

for index, name in enumerate(names,start = 1):
  print(index,name)

1 Bright
2 Simran
3 Chris
4 Sanjay
5 Chris
6 Bright
7 Bright

#Looping through two or more list at a time

**Approach 1: the common way**

In [ ]:
names = ['Bright','Simran','Chris','Sanjay']
jobs = ['Data Scientist','Software Engineer','Psychologist','Python Programmer']


for index, name in enumerate(names):
  job=jobs[index]
  print(f'{name} is a {job}')

Bright is a Data Scientist
Simran is a Software Engineer
Chris is a Psychologist
Sanjay is a Python Programmer

**Approach 2: Using Zip()**

In [ ]:
names = ['Bright','Simran','Chris','Sanjay']
jobs = ['Data Scientist','Software Engineer','Psychologist','Python Programmer']

for name, job in zip(names,jobs):
  print(f'{name} is a {job}')

Bright is a Data Scientist
Simran is a Software Engineer
Chris is a Psychologist
Sanjay is a Python Programmer

We can even iterate through more lists

In [ ]:
names = ['Bright','Simran','Chris','Sanjay']
jobs = ['Data Scientist','Software Engineer','Psychologist','Python Programmer']
companies = ['Amazon','Google','Microsoft','Tesla']
for name, job, company in zip(names,jobs,companies):
  print(f'{name} is a {job} working at {company}')

Bright is a Data Scientist working at Amazon
Simran is a Software Engineer working at Google
Chris is a Psychologist working at Microsoft
Sanjay is a Python Programmer working at Tesla

#**Unpacking** Values

In [ ]:
a = (10,20)

print(a)

(10, 20)

In [ ]:
a,b = (10,20)

print(a)
# print(b)

10

In [ ]:
a,b,*c = (10,20,30,4,6,7,8)

print(a)
print(b)
print(c)

10
20
[30, 4, 6, 7, 8]

#**Hidding your password**

Head on to Sublime text and terminal for demo